@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom {
    background-image: url('/frank-gym.jpg'); /* Relative path to your image */
    background-size: cover;
    background-position: center;
    /* Add any other background properties as needed */
  }
